# Entorno virtual
venv/

# Caché de Python
**/__pycache__/
*.pyc

ambiente.ipynb

# Archivo con información sensible
config/.env

# Ignorar el contenido de airflow por defecto
airflow/*

# Mantener el directorio dags y su contenido
!airflow/dags/
!airflow/dags/**
